* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid orchid; */
}

:root {
  font-size: 62.5%;

  --color-win: #a8c686;
  --color-default: #F0F0F0;
  --grid-size: 50rem;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
}

.container {
  height: inherit;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.infoboard {
  margin-top: 9rem;
  display: grid;
  justify-items: center;
}

.infoboard h1 {
  font-size: 4rem;
}

.infoboard h2 {
  font-size: 3rem;
}

.gameboard {
  height: var(--grid-size);
  width: var(--grid-size);

  place-self: start center;

  display: grid;
  grid-template-rows: repeat(3, calc(var(--grid-size) / 3));
  grid-template-columns: repeat(3, calc(var(--grid-size) / 3));
  gap: 1rem;
}

.tictacgrid {
  background-color: var(--color-default);
}

.tictacgrid > img {
  max-height: 100%;
  max-width: 100%;

  margin: 2rem;
}

.tictacgrid.win {
  background-color: var(--color-win);
}
