* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid orchid; */
}

:root {
  font-size: 62.5%;

  --color-win: #a8c686;
  --color-warn: #E4572E;
  --color-default: #F0F0F0;
  --color-shadow: #696969;
  --color-next: #407076;
  --grid-size: 50rem;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;

  position: relative;

  display: grid;
}

.popup {
  background-color: white;
  box-shadow: 0.3rem 0.3rem 1rem 0.1rem var(--color-shadow);
  position: absolute;
  z-index: 1;

  height: 20rem;
  width: 50rem;
  
  place-self: center;

  display: grid;
  place-items: center;
}

.popup > button {
  height: 5rem;
  width: 20rem;
  background-color: var(--color-win);
  color: var(--color-default);
  font-size: 2rem;
}

.popup.hidden {
  display: none;
}

.container {
  height: inherit;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr 1fr;
}

.infoboard {
  margin-top: 5rem;
  display: grid;
  justify-items: center;
}

.infoboard h1 {
  font-size: 5rem;
}

.infoboard h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.gameboard {
  min-height: var(--grid-size);
  min-width: var(--grid-size);

  place-self: start center;

  display: grid;
  grid-template-rows: repeat(3, calc(var(--grid-size) / 3));
  grid-template-columns: repeat(3, calc(var(--grid-size) / 3));
  gap: 1rem;
}

.container > :nth-child(3),
.container > :last-child {
  margin-bottom: 2rem;

  display: grid;
  place-items: center;
}

.container button {
  height: 5rem;
  width: 20rem;
  color: var(--color-default);
  font-size: 2rem;
}
.container button.resetgame {
  background-color: var(--color-warn);
}

.container button.nextmatch {
  background-color: var(--color-next);
}

.container .hidden {
  display: none;
}

.tictacgrid {
  background-color: var(--color-default);
}

.tictacgrid > img {
  max-height: 100%;
  max-width: 100%;

  margin: 2rem;
}

.tictacgrid.win {
  background-color: var(--color-win);
}
